*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace, sans-serif;
}

body{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #292929;
}

.calculator{
  max-width: 500px;
  overflow: hidden;
}
.keys{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px;
  padding: 25px;
}

.display{
  width: 100%;
  height: 70px;
  padding: 20px;
  font-size: 2.5rem;
  background: transparent;
  border: none;
  color: white;
  background-color: #3b3b3b;
  text-align: right;
  border-radius: 10px;
  margin-bottom: 20px;
}

button{
  width: 75px;
  height: 75px;
  /* background: transparent; */
  border-radius: 50%;
  border: none;
  font-size: 20px;
  font-weight: bold;
  background-color: #454545b7;
  color: white;
  cursor: pointer;
}